/* здесь используйте глобальные селекторы img, body, html и так далее*/
@import "../global/variables.scss";

body {
  margin: 0;
}

a {
  text-decoration: none
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
