/* base colors*/
$base-black: #333;
$base-white: #fff;
$base-grey: #bdb;
$base-primary: #7859CF;
$base-secondary: #F0EBFF;

/* alt colors */
$primary-light: #9070EC;
$primary-dark: #593CAC;
$primary-clear: rgba(120, 89, 207, 0.25);
$primary-grey: #E2E2E2;

/* */
$milk-color: #F8F8F8;
$flat-white: #F3EBE1;
$lavender: #EAE6FC;
$espresso: #E5E6E8;




