@use "../global/variables.scss";

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 44px;
  background-color: $milk-color;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 80px 20px 90px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 40px 120px;
    display: grid;
    grid-template: repeat(2, min-content) / 318px auto;
    grid-template-areas: "text text" "form item";
    min-width: 1440px;
    gap: 36px 30px
  }
}

.catalog__header {
  display: flex;
  flex-direction: column;
  margin: 0 0 21px;

  @media (min-width: $desktop-width) {
    grid-area: text;
    margin: 0;
    order: 1;
  }
}

.catalog__promo {
  display: block;
  font-family: $primary-fonts;
  justify-content: center;
  font-size: 12px;
  text-align: center;
  font-weight: 700;
  line-height: 16px;
  margin: 0 0 4px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  color: $base-primary;
}

.catalog__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width ) {
    font-size: 42px;
    font-weight: 700;
    line-height: 64px;
  }
}

.product__cards {
  grid-area: item;
}

.catalog__cards-select {
  border: none;
  display: flex;
  align-items: center;
  margin: 0 0 15px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 25px;
    justify-content: flex-end;
  }
}

.catalog__form {
  margin: 0 0 36px;

  @media (min-width: $tablet-width ) {
    margin: 0 0 40px;
  }

  @media (min-width: $desktop-width ) {
    margin: 0;
    grid-area: form;
  }
}
