@use "../global/variables.scss";

.main-header__contaner {
  background-color: $base-white;
  margin: 0 auto;
  min-height: 60px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "logo user" "site site";

  @media (min-width: $tablet-width) {
    grid-template-columns: auto 1fr 180px;
    grid-template-areas: "logo site user";
    padding: 0 20px;
    min-height: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    grid-template-columns: 335px 1fr 280px;
    gap: 0 20px;
    padding: 0 40px;
  }
}

.main-header__description {
  font-size: 12px;
  line-height: 16px;
  display: none;
  width: 140px;
  margin: 0;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.main-header__logo {
  padding: 12px 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-header__logo-image {
  display: block;
}

.main-header__wrapper {
  display: flex;
  align-items: center;
  gap: 0 20px;
  grid-area: logo;
}

.main-nav {
  grid-area: site;

  @media (max-width: $mobile-width) {
    position: relative;
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 0 67px;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }

}

.main-nav--close {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.main-nav--open {
  @media (max-width: $mobile-width) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}

.main-nav--nojs {
  @media (max-width: $mobile-width) {
    display: block;
    position: static;
  }
}
