@use "../global/variables.scss";

.price__input {
  border-radius: 4px;
  padding: 8px 10px;
  width: 118px;
  font-family: $primary-fonts;
  background-color: $base-white;
  border: none;
  appearance: textfield;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  box-shadow: inset 0 0 0 2px $primary-light;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    width: 87px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }

  &:hover {
    box-shadow: inset 0 0 0 2px $primary-dark;
    outline: none;
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 2px $lavender;
    outline: none;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px $primary-dark;
  }

  &:disabled {
    box-shadow: inset 0 0 0 2px $primary-grey;
    background-color: $primary-grey;
    cursor: not-allowed;
  }

  .price__input::-webkit-outer-spin-button,
  .price__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

}
