@use "../global/variables.scss";
// Не хватило времени чтобы разобраться с стилизацей слайдера и переопределить дефолтные стили NoUiSlider. Решил оставить больший функциорнал и привязку input к JS пожертвовав соответсвие слайдера макету
.noUi-target .noUi-base {
  height: 2px;
  padding: 0 12px;
  box-shadow: none;
  border-radius: 0;
  border: none;
  background-color: $primary-grey;
}

.noUi-base .noUi-connects {
  height: 4px;
  transform: translateY(-1px);
  background-color: $base-grey;
  border: none;
  box-shadow: none;
}

.noUi-origin .noUi-handle{
  top: -15px;
  right: -12px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-color: $base-white;
  box-shadow: inset 0 0 0 2px $primary-light;
  cursor: pointer;

  &::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $base-white;
  }
}

.noUi-handle {
  top: -11px;
  right: -12px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-color: $base-white;
  box-shadow: inset 0 0 0 2px $primary-light;
  cursor: pointer;
}

.noUi-target .noUi-connect {
  background-color: $primary-light;
}
 .noUi-target .noUi-handle {
  top: -11px;
  right: -12px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-color: $base-white;
  box-shadow: inset 0 0 0 2px $primary-light;
  cursor: pointer;

  &::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $base-white;
  }

  &:hover,
  &:focus-visible {
    outline: none;

    &::before {
      background-color: $primary-clear;
    }
  }

  &:active {
    box-shadow: inset 0 0 0 2px $primary-dark;

    &::before {
      background-color: $primary-light;
    }
  }
}

[disabled] .noUi-handle {
  background-color: $primary-grey;
  box-shadow: inset 0 0 0 2px $base-grey;
  cursor: not-allowed;

  &:hover,
  &:active {
    box-shadow: inset 0 0 0 2px $base-grey;
  }

  &::before {
    display: none;
  }
}

.noUi-handle::after {
  display: none;
}
